
.cls1{
 
    
        border: 2px solid black;
        background-color: lightblue;
        padding-top: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 100px;
    
}
.cls1{
    margin-left: 50;
}

